<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>

<body>
    <div class="container">

        <div class="travel_list">
            <h1>Travel App</h1>
            <div class="create_new_travel">
                <label for="address">Enter address here</label>
                <input type="text" name="address"  id="address" placeholder="enter address here">
                <label for="date">Enter trip date</label>
                <input id="date" type="date" name="date" ></input>
                <label for="dateEnd">Enter end date</label>
                <input id="dateEnd" type="date" name="dateEnd" ></input>
                <button class="add">Add</button>

            </div>

            <div class="wrapper">
                <ul class="trips">
                    
                </ul>
            </div>

        </div>

    </div>

<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>

</body>

</html>



